/* general */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 0.3s;
}
#main {
    min-width: 800px;
}
:root {
    --l-background-1: #ffffff;
    --l-background-2: #f7f7f7;
    --l-background-3: #d9d9d9;
    --l-background-4: #b5b5b5;
    --l-text: #000000;
    --l-line-1: #000000;
    --l-line-2: #3d3d3d;
    --l-line-3: #8a8a8a;
    --d-background-1: #1a1a1a;
    --d-background-2: #252525;
    --d-background-3: #3d3d3d;
    --d-background-4: #474747;
    --d-text: #e8eaed;
    --d-line-1: #e8eaed;
    --d-line-2: #c4c4c4;
    --d-line-3: #b3b3b3;
    --text-font-size: 16px;
    --color-theme: #4daae0;
    --color-red: #f52a2a;
    --color-green: #2fac1b;
}

/* text & title */
p {
    font-size: var(--text-font-size);
    font-family: "Trebuchet MS", sans-serif;
}
.dark p {
    color: var(--d-text);
}
.light p {
    color: var(--l-text);
}
h1, h2, h3, h4, h5, h6 {
    font-family: Garamond, serif;
}
.dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6 {
    color: var(--d-text);
}
.light h1, .light h2, .light h3, .light h4, .light h5, .light h6 {
    color: var(--l-text);
}

/* selection */
.dark *::selection {
    background: var(--l-background-1);
    color: var(--l-text);
}
.light *::selection {
    background: var(--d-background-1);
    color: var(--d-text);
}

/* link */
a.link {
    font-size: var(--text-font-size);
    font-family: "Trebuchet MS", sans-serif;
    color: var(--color-theme);
}
a.link:visited {
    color: var(--color-theme);
}
a.link:hover {
    text-shadow: 0 0 2px var(--color-theme);
}

/* scrollbar */
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
}

.light ::-webkit-scrollbar-thumb {
    background-color: rgba(200, 200, 200, 0.5);
}
.light ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(200, 200, 200, 0.8);
}

.dark ::-webkit-scrollbar-thumb {
    background-color: rgba(61, 61, 61, 0.5);
}
.dark ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(61, 61, 61, 0.8);
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, 0.5);
}
body::-webkit-scrollbar-thumb:hover {
    background-color: rgba(100, 100, 100, 0.8);
}

/* groupBox */
.group-box {
    border-radius: 7px;
}
.light .group-box {
    border: 1px solid var(--l-background-3);
    box-shadow: 2px 2px 1px var(--l-background-3);
    background-color: var(--l-background-2);
}
.dark .group-box {
    border: 1px solid var(--d-background-3);
    box-shadow: 2px 2px 1px var(--d-background-3);
    background-color: var(--d-background-2);
}